integrations/n8n/flowcrm-lead-ingestion.json
{
  "name": "FlowCRM - Lead Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flowcrm-lead",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "flowcrm-lead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/v1/auth/login",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\n  \"email\": \"ana@acme.io\",\n  \"password\": \"password123\"\n}",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "FlowCRM Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/v1/contacts/upsert",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "external_id", "value": "={{ $('Webhook').item.json.body.external_id }}" },
            { "name": "full_name", "value": "={{ $('Webhook').item.json.body.full_name }}" },
            { "name": "email", "value": "={{ $('Webhook').item.json.body.email || undefined }}" },
            { "name": "phone", "value": "={{ $('Webhook').item.json.body.phone || undefined }}" },
            { "name": "channel", "value": "={{ $('Webhook').item.json.body.channel || 'web_form' }}" },
            { "name": "message", "value": "={{ $('Webhook').item.json.body.message || undefined }}" }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "FlowCRM Upsert Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "FlowCRM Login", "type": "main", "index": 0 }]]
    },
    "FlowCRM Login": {
      "main": [[{ "node": "FlowCRM Upsert Contact", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
