integrations/n8n/flowcrm-followup-cadence.json
{
  "name": "FlowCRM - Follow-up Cadence",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "minutes", "minutesInterval": 15 } ] }
      },
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/v1/auth/login",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\n  \"email\": \"ana@acme.io\",\n  \"password\": \"password123\"\n}",
        "options": {}
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
      "name": "FlowCRM Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8000/v1/followup/due",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" }
          ]
        },
        "options": {}
      },
      "id": "cccccccc-cccc-cccc-cccc-cccccccccccc",
      "name": "Get Due Sequences",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Normalize the /followup/due response into one item per sequence,\n// and decide the action: complete (if the contact replied) or advance.\nlet list = $input.all().map(i => i.json);\nif (list.length === 1 && Array.isArray(list[0])) list = list[0];\nreturn list.map(d => ({ json: { ...d, _action: d.contact_replied ? 'complete' : 'advance' } }));"
      },
      "id": "dddddddd-dddd-dddd-dddd-dddddddddddd",
      "name": "Decide Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json._action }}",
              "rightValue": "complete",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eeeeeeee-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "Replied?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/v1/followup/complete",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('FlowCRM Login').item.json.access_token }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "sequence_id", "value": "={{ $json.sequence_id }}" },
            { "name": "reason", "value": "contact_replied" }
          ]
        },
        "options": {}
      },
      "id": "ffffffff-ffff-ffff-ffff-ffffffffffff",
      "name": "Complete Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/v1/followup/advance",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('FlowCRM Login').item.json.access_token }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "sequence_id", "value": "={{ $json.sequence_id }}" },
            { "name": "sent_step", "value": "={{ $json.next_step }}" }
          ]
        },
        "options": {}
      },
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "Advance Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 400]
    }
  ],
  "connections": {
    "Every 15 min": { "main": [[{ "node": "FlowCRM Login", "type": "main", "index": 0 }]] },
    "FlowCRM Login": { "main": [[{ "node": "Get Due Sequences", "type": "main", "index": 0 }]] },
    "Get Due Sequences": { "main": [[{ "node": "Decide Action", "type": "main", "index": 0 }]] },
    "Decide Action": { "main": [[{ "node": "Replied?", "type": "main", "index": 0 }]] },
    "Replied?": {
      "main": [
        [{ "node": "Complete Sequence", "type": "main", "index": 0 }],
        [{ "node": "Advance Sequence", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
